/* global css start */
body,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.flex{
    display: flex;
    
}
.half-width{
    width: 50%;
}
/* global css end */


/* navbar start */
.navbar{
    background-color: #FFF4EE;
}
.nav-heading {
    color: #9C1A8B;
    text-align: center;
    font-size: 25px;
    padding-top: 50px;
}
.nav-heading h1 {
    font-weight: 300;
}

.nav-menu ul {
    display: flex;
    margin-left: 235px;
    margin-top: 40px;
    font-size: 26px;
    letter-spacing: 15px;
}
.nav-menu ul li{
    list-style: none;
    padding: 50px;
    
}
.nav-menu ul li a{
    text-decoration: none;
    
}
/* navbar end */

/* FOOD OVERVIEW PART START */
.food-overview {
    margin-top: 100px;
}
.food-details {
    margin-left: 100px;
}
.food-details p {
    font-size: 25px;
    margin-right: 30px;
    margin-bottom: 45px;
}
.fd-heading {
    color: #fea602;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 5px;
    margin-bottom: 5px;
}
.half-width img{
    width: 70%;
}
.menu-button {
    font-weight: 600;
    text-decoration: none;
    padding: 15px 40px;
    background-color: #fea602;
    font-size: 25px;
    border-radius: 20px;
    color: whitesmoke;
}
/* FOOD OVERVIEW PART end */



/* About section start */
.about-section{
    background-image: url(images/Frame\ 58.jpg);
    background-repeat: no-repeat;
    margin-top: 150px;
}
.about-img{
    margin-left: 100px;
}
.about-details{}
.about-details h1 {
    margin-top: 40px;
    font-size: 35px;
    letter-spacing: 10px;
    margin-bottom: 35px;
    color: #efa00e;
}
.about-details p {
    margin-right: 150px;
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 50px;
}
.contact-button{
    font-weight: 600;
    text-decoration: none;
    padding: 15px 40px;
    background-color: #efa00e;
    font-size: 25px;
    border-radius: 20px;
    color: whitesmoke;
}
/* About section end*/

/* Recipies section start */
.recipie {
    margin-top: 130px;
}
.recipie-header {
    text-align: center;
}

.recipie-header p {
    font-size: 20px;
    margin: 50px 415px;
}
#recipie-heading {
    font-size: 35px;
    letter-spacing: 5px;
    
    color: #efa00e;
    margin-bottom: 33px;
    font-weight: 500;
}
.recipies-items {
    margin: 20px 135px;
}
.recipie-details {
    width: 28%;
    
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 30%);
    text-align: center;
}
.box-2 {
    margin: 0px 80px;
}
.recipie-details img {
    width: 95%;
    margin-bottom: 15px;
    border-radius: 22px;
}
.recipie-details h1 {
    font-size: 40px;
}
.recipie-details p {
    font-size: 22px;
}

/* Recipies section end */


/* Download bar section */
.download-section{
    
    text-align: center;
    
}
#d-heading {
    margin-top: 150px;
    margin-bottom: 52px;
    font-size: 40px;
    color: #efa00e;
    letter-spacing: 5px;
}
#d-para {
    font-size: 25px;
    margin: 0px 310px 30px 310px;
}
#d-button {
    text-decoration: none;
    padding: 20px;
    background-color: #efa00e;
    margin-bottom: 154px;
    border-radius: 10px;
}
/* Download bar section */